input.short { width: 60px }
.postbox .hndle { cursor: pointer; }

.wrap .postbox-container .postbox { min-width: 0; width: auto }
.wrap .postbox-container.left { width: 64%; float: left }
.wrap .postbox-container.right { width: 34%; float: right }


@media screen and (max-width: 760px){
  body { min-width: 0 }
  .wrap .postbox-container.left,
  .wrap .postbox-container.right { float: none; width: auto }
}

a.unlock { color: #BBB; font-size: 80%; text-decoration: none; display: inline-block }
a.unlock .dashicons { font-size: 15px }


/*
.asterisk { font-weight: lighter; color: gray; font-size: 125% }
img.premium-banner { max-width: 100%; border-radius: 3px; }
.settings_page_wp_plugin_encyclopedia .button.button-block { display: block; text-transform: uppercase; font-weight: bold; text-align: center; }
.settings_page_wp_plugin_encyclopedia .button.button-large { font-size: 125%; padding: 10px; height: auto }
*/